[submodule "dotbot"]
	ignore = dirty
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-crossplatform"]
	path = dotbot-crossplatform
	url = git@github.com:msdrigg/dotbot-crossplatform.git
